@charset "UTF-8";
body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  font-family: "Noto Sans", serif;
  background-color: #0f0f0f;
}

.menuBoxDash ul {
  width: 100%;
  background: #e73725;
  padding: 0;
}

.carousel-prev:before,
.carousel-next:before {
  background-size: 22px;
  min-width: 22px;
  margin: 0 auto;
}

.carousel-prev {
  left: 0px !important;
  display: block !important;
}

.carousel-next:before {
  background-image: url(/images/right.png) !important;
}

.carousel-prev:before {
  background-image: url(/images/left.png) !important;
}

.carousel-next {
  right: 0 !important;
  display: block !important;
}

.carousel-row {
  height: 100%;
}

.carousel-row .imageSlider {
  height: 100%;
}

.block {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #272325 40%, #020104);
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.block:after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
}

.block .rainbow {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: -2;
}

.block .rainbow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(315deg, #ff005e, #fbff00);
}

.block .rainbow:after {
  -webkit-animation: neon-block 1.5s linear infinite;
          animation: neon-block 1.5s linear infinite;
}

@-webkit-keyframes neon-block {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes neon-block {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes neon-block {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.slick-next,
.slick-prev {
  z-index: 99;
  font-weight: 800;
  width: 50px;
  height: 50px;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #6adeea;
}

.slick-next:before,
.slick-prev:before {
  content: "›";
}

.slick-next:before,
.slick-prev:before {
  font-size: 56px;
}

.slick-next,
.slick-prev {
  z-index: 99;
  font-weight: 800;
  width: 50px;
  height: 50px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 56px;
}

.slick-prev:before {
  content: "‹";
}

.height100,
.slick-list,
.slick-track,
.slick-slide > * {
  height: 100%;
}

.slick-track > * {
  height: 100%;
}

.slick-next:before,
.slick-prev:before {
  line-height: 1;
  opacity: 0.75;
  color: #6adeea;
}

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.curve::before {
  width: 55%;
  height: 100%;
  content: " ";
  display: block;
  position: absolute;
  -webkit-transform: translate(85%, 60%);
          transform: translate(85%, 60%);
  border-radius: 100% 50%;
  background-color: #040404;
}

.curve::after {
  width: 55%;
  height: 100%;
  -webkit-transform: translate(-4%, 40%);
          transform: translate(-4%, 40%);
  content: " ";
  display: block;
  z-index: -1;
  position: absolute;
  border-radius: 100% 50%;
  background-color: #0f0f0f;
}

.MuiStepLabel-root {
  display: block !important;
}

.rotate {
  -webkit-animation: rotate 5s normal linear infinite;
          animation: rotate 5s normal linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.moveTop {
  -webkit-animation: moveTop 5s normal linear infinite;
  animation: moveTop 5s normal linear infinite;
}

@-webkit-keyframes moveTop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes moveTop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.moveLeft {
  -webkit-animation: moveLeft 5s normal linear infinite;
  animation: moveLeft 5s normal linear infinite;
}

.moveBottom {
  -webkit-animation: moveBottom 5s normal linear infinite;
  animation: moveBottom 5s normal linear infinite;
}

@-webkit-keyframes moveBottom {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveBottom {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slick-initialized .slick-slide {
  display: block;
}

h1.texttitlebit {
  position: relative;
  display: inline-block;
  text-align: left;
}

h1.texttitlebit::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 64px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #461076;
  z-index: -1;
}

h1.texttitle {
  position: relative;
  display: inline-block;
  text-align: left;
}

h1.texttitle::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 64px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #101756;
  z-index: -1;
}

h1.texttitlebolck {
  position: relative;
  display: inline-block;
  text-align: left;
}

h1.texttitlebolck::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 64px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #3d1170;
  z-index: -1;
}

h1.texttitlesocial {
  position: relative;
  display: inline-block;
  text-align: left;
}

h1.texttitlesocial::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 69px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #3d1170;
  z-index: -1;
}

h1.texttitleabout {
  position: relative;
  display: inline-block;
  text-align: left;
}

h1.texttitleabout::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 64px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #101756;
  z-index: -1;
}

h1.texttitlenetwork {
  position: relative;
  display: inline-block;
  text-align: left;
}

h1.texttitlenetwork::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 70px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #7e0897;
  z-index: -1;
}

h2.texttitleabout2 {
  position: relative;
  display: inline-block;
  text-align: left;
}

h2.texttitleabout2::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 50px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #101756;
  z-index: -1;
}

h2.texttitlebitword {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 62px;
}

h2.texttitlebitword::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 62px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #7e0897;
  z-index: -1;
}

h2.texttitlegame {
  position: relative;
  display: inline-block;
  text-align: left;
}

h2.texttitlegame::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 50px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #7e0897;
  z-index: -1;
}

h2.texttitleplay {
  position: relative;
  display: inline-block;
  text-align: left;
}

h2.texttitleplay::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 50px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #3d1170;
  z-index: -1;
}

h2.texttitlebaichain {
  position: relative;
  display: inline-block;
  text-align: left;
}

h2.texttitlebaichain::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 50px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #18185b;
  z-index: -1;
}

h2.texttitlemetabit {
  position: relative;
  display: inline-block;
  text-align: left;
}

h2.texttitlemetabit::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 50px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #3d1170;
  z-index: -1;
}

h3.texttitlenetwork1 {
  position: relative;
}

h3.texttitlenetwork1::after {
  position: absolute;
  content: attr(title);
  left: 0;
  top: 7px;
  font-size: 35px;
  text-shadow: 1px 0 rgba(255, 255, 255, 0), -2px 0 rgba(255, 255, 255, 0), 0 1px rgba(255, 255, 255, 0.15), 0 -2px rgba(255, 255, 255, 0.11), 1px 1px rgba(255, 255, 255, 0.05), -1px -1px rgba(255, 255, 255, 0.1), 1px -1px rgba(255, 255, 255, 0), -1px 1px rgba(255, 255, 255, 0.07);
  width: 100%;
  color: #7e0897;
  z-index: -1;
}

.description {
  max-width: 529px !important;
}

.headerNav {
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
}

.headerNav::after,
.headerNav2::after {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(44px);
  -webkit-backdrop-filter: blur(44px);
}

.ceckBox {
  background-color: red !important;
}

.round {
  position: relative;
  margin-right: 22px;
}

.round label {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.round label:after {
  border: 2px solid gray;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background: -webkit-gradient(linear, left top, left bottom, from(#f880ff), color-stop(48.96%, #2effe6), to(#a3ff2e));
  background: linear-gradient(180deg, #f880ff 0%, #2effe6 48.96%, #a3ff2e 100%);
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.displaystart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.displayend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.flexBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBetween h4 {
  font-size: 20px;
}

@media (max-width: 767px) {
  .flexBetween h4 {
    font-size: 15px;
  }
}

.teamButton {
  background: linear-gradient(266.52deg, #4200b3 6.69%, #c100ad 92.08%) !important;
  height: 32px !important;
  padding: 4px 23px !important;
  font-size: 9px !important;
  text-transform: uppercase !important;
}

.textfiled1 .MuiOutlinedInput-notchedOutline {
  background: rgba(255, 255, 255, 0.03) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: transparent;
}

.textfiled1 .MuiOutlinedInput-root {
  border-radius: 4px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.defaultclx button {
  color: #fff !important;
  padding: 0px;
}

.react-scroll-to-bottom--css-bgygw-1n7m0yu {
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.defalutscroll ::-webkit-scrollbar {
  width: 5px;
}

.defalutscroll ::-webkit-scrollbar-thumb {
  background: #4c3376;
}

.defalutscroll ::-webkit-scrollbar-thumb:hover {
  background: #4c3376;
}

@media screen and (max-width: 520px) {
  .trimtypo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
}

.apexcharts-tooltip-title {
  background: none !important;
  border-bottom: 0px !important;
  text-transform: capitalize;
}

.apexcharts-tooltip.apexcharts-theme-light.apexcharts-active {
  background: none !important;
  border: 0px !important;
}

.Toastify__toast--info {
  background: -webkit-gradient(linear, left top, right top, color-stop(13%, #3911ee), color-stop(57%, #7d29cb)) !important;
  background: linear-gradient(90deg, #3911ee 13%, #7d29cb 57%) !important;
  color: #fff;
}

.Toastify__toast--success {
  background: -webkit-gradient(linear, left top, right top, color-stop(13%, #3911ee), color-stop(57%, #7d29cb)) !important;
  background: linear-gradient(90deg, #3911ee 13%, #7d29cb 57%) !important;
  color: #fff;
}

.toastBody {
  font-family: "Noto Sans", serif;
  color: #10171d;
  /* #10171D */
  font-size: 0.875rem !important;
}

.toastProgress {
  background: #333f48 !important;
}

.btnBoxCommon {
  border-radius: 40px;
  padding-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  cursor: pointer;
}

.btnBoxCommon h6 {
  font-size: 14px;
  padding-right: 10px;
}

@media (max-width: 767px) {
  .btnBoxCommon h6 {
    font-size: 10px;
    padding-right: 10px;
  }
}

.menuDashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menuBoxDash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menuBoxDash ul {
  width: 100%;
  background: #422966;
  padding: 0;
}

@media (max-width: 1279px) {
  .menuBoxDash {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.width100 {
  width: 100%;
}

.collapseMenu {
  width: 100%;
  position: absolute;
  z-index: 99;
  margin-top: 35px;
  padding: 0 !important;
  margin-left: -8px;
}

@media (max-width: 1279px) {
  .collapseMenu {
    position: relative;
    margin-top: 10px;
  }
}

.paginationCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuList {
  background: #341c4a;
  border-radius: 7px;
}

.slickbottomslider .slick-initialized .slick-slide.slick-current .active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.slickbottomslider .slick-track {
  padding: 60px 0;
}

.slickbottomslider .slickbottomslider .slick-prev:hover {
  background: #000;
  border: 1px solid rgba(0, 251, 251, 0.2);
}

.slickbottomslider .slickbottomslider .slick-prev.slick-disabled {
  opacity: 0.5;
}

.slickbottomslider .slickbottomslider .slick-next:hover {
  background: #000;
  border: 1px solid rgba(0, 251, 251, 0.2);
}

.slickbottomslider .slick-next:before,
.slickbottomslider .slick-prev:before {
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  margin-top: -17px;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  border-radius: 50%;
}

.slick-prev:before {
  content: "‹" !important;
}

.slick-next:before {
  content: "›" !important;
}

.slickbottomslider .slick-track {
  padding: 60px 0;
}

.slickbottomslider .slick-prev {
  left: 45% !important;
  bottom: -20px;
  top: auto;
  right: 59px;
  color: #fff;
  margin-top: -17px;
  z-index: 999;
  border: 1px solid #a6acd6;
  background-color: transparent !important;
}

.slickbottomslider .slick-prev:hover {
  background: #000;
  border: 1px solid #32173b;
}

.slickbottomslider .slick-prev.slick-disabled {
  opacity: 0.5;
}

.slickbottomslider .slick-next {
  left: 50%;
  top: auto;
  bottom: -20px;
  right: 5px;
  color: #fff;
  margin-top: -17px;
  border: 1px solid #a6acd6;
  background-color: transparent !important;
}

.slickbottomslider .slick-next:hover {
  background: #000;
  border: 1px solid #32173b;
}

.slickbottomslider .slick-next.slick-disabled {
  opacity: 0.5;
}

@media (max-width: 1279px) {
  .LogoImg {
    width: 210px;
  }
}

.startnowButton {
  color: #fff;
  border: 1.5px solid #6e3fa6 !important;
  -webkit-filter: drop-shadow(0px 13px 27px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 13px 27px rgba(0, 0, 0, 0.25)) !important;
  height: 45px;
  padding: 10px 35px;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#692cea), to(#cc6e8c)) !important;
  background: linear-gradient(90deg, #692cea 0%, #cc6e8c 100%) !important;
  font-weight: 500;
  line-height: 21px;
  white-space: pre;
  border-radius: 50px;
  background-color: #898989;
}

.startnowButton:hover {
  color: #ffffff;
  border: 1.5px solid #623ef2 !important;
  background: linear-gradient(286deg, #8a12f1 0%, #e2df13 65%, #f1711a 70%, #da3095 96%) !important;
  -webkit-box-shadow: 2px 1000px 1px #f5f5f5 inset !important;
          box-shadow: 2px 1000px 1px #f5f5f5 inset !important;
  background-color: #5f5f5f !important;
}

.tree {
  margin: 1em;
  padding: 0;
}

.extraBold {
  background-color: rgba(255, 255, 255, 0.11) !important;
  border-radius: 7px !important;
  padding: 4px 7px !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.extraBold h6 {
  font-weight: 700 !important;
  font-size: 17px !important;
}

.extraBold2 {
  background-color: rgba(255, 255, 255, 0.11) !important;
  border-radius: 7px !important;
  padding: 4px 7px !important;
}

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.fadedBox {
  opacity: 0.47;
}

.tree input ~ ul {
  display: none;
}

.tree input:checked ~ ul {
  display: block;
}

/* ————————————————————–
      Tree rows
    */
.tree li {
  line-height: 1.2;
  position: relative;
  padding: 1em 0 0 1em;
  display: block !important;
}

.tree ul li {
  padding: 1em 0 0 1em;
}

.tree > li:last-child {
  padding-bottom: 0;
}

/* ————————————————————–
      Tree labels
    */
.tree_label {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.tree_label + p {
  -webkit-animation: top;
          animation: top;
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 14px;
  color: #fff;
}

label.tree_label {
  cursor: pointer;
}

label.tree_label:hover {
  color: #666;
}

/* ————————————————————–
      Tree expanded icon
    */
label.tree_label:before {
  background: #ff0ae5;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  content: "+";
  text-align: center;
  line-height: 0.9em;
  border-radius: 3px;
}

:checked ~ label.tree_label:before {
  content: "–";
}

/* ————————————————————–
      Tree branches
    */
.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 0;
  border-left: 1px solid #ff0ae5;
  content: "";
}

.tree_label:after {
  position: absolute;
  top: 0;
  left: -17px;
  display: block;
  height: 2px;
  width: 1em;
  border-bottom: 1px solid #ff0ae5;
  content: "";
}

label.tree_label:after {
  border-bottom: 0;
}

:checked ~ label.tree_label:after {
  border-radius: 0 0.3em 0 0;
  border-top: 1px solid #ff0ae5;
  border-right: 1px solid #ff0ae5;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5em;
  height: 31px;
  left: -22px;
}

.searchAddress {
  font-weight: bold;
  color: "#42e8e0 !important";
}

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}

.tree > li:last-child:before {
  display: none;
}

.tree_custom {
  display: block;
  background: #33beef;
  padding: 7px;
  border-radius: 0.3em;
}

img.image1 {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 1;
  width: 180px;
}

img.image2 {
  position: absolute;
  top: 75px;
  left: 100px;
  width: 160px;
}

img.image3 {
  position: absolute;
  top: 70px;
  left: 230px;
  z-index: 1;
  width: 150px;
}

img.image4 {
  position: absolute;
  top: 110px;
  left: 300px;
  width: 130px;
}

img.image5 {
  position: absolute;
  right: 0;
  top: -38px;
  width: 120px;
  width: 150px;
}

img.image6 {
  position: absolute;
  top: 150px;
  right: -30px;
  width: 180px;
}

img.image7 {
  position: absolute;
  top: 186px;
  left: 168px;
  width: 180px;
}

img.image8 {
  position: absolute;
  right: 100px;
  bottom: 20px;
  width: 160px;
}

img.image9 {
  position: absolute;
  right: 45px;
  bottom: -30px;
  width: 80px;
}

img.image10 {
  position: absolute;
  bottom: -20px;
  width: 150px;
  left: 0;
}

.readMoreButton {
  color: #fff;
  border: 1.5px solid #6e3fa6 !important;
  -webkit-filter: drop-shadow(0px 13px 27px rgba(0, 0, 0, 0.25)) !important;
          filter: drop-shadow(0px 13px 27px rgba(0, 0, 0, 0.25)) !important;
  height: 45px;
  padding: 10px 35px;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#5d24f5), to(#82d3e1)) !important;
  background: linear-gradient(90deg, #5d24f5 0%, #82d3e1 100%) !important;
  font-weight: 500;
  line-height: 21px;
  white-space: pre;
  border-radius: 50px;
  background-color: #898989;
}

.readMoreButton:hover {
  color: #ffffff;
  border: 1.5px solid #623ef2 !important;
  background: linear-gradient(286deg, #8a12f1 0%, #e2df13 65%, #f1711a 70%, #da3095 96%) !important;
  -webkit-box-shadow: 2px 1000px 1px #f5f5f5 inset !important;
          box-shadow: 2px 1000px 1px #f5f5f5 inset !important;
  background-color: #5f5f5f !important;
}

.apexcharts-tooltip {
  background: #8f1313 !important;
  color: orange;
}

* {
  -ms-overflow-style: none;
}

.scrollDiv {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 30px;
  /* Optional: show position indicator in red */
}

.scrollDiv::-webkit-scrollbar {
  width: 5px;
  /* Remove scrollbar space */
  height: 5px;
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.scrollDiv::-webkit-scrollbar-thumb {
  background: transparent;
}

.scaleImageClass {
  margin: 0;
  overflow: hidden;
  padding: 0px;
}

.scaleImageClass img {
  width: 100%;
  height: auto;
  margin: 0;
}

.RouterLinkClass {
  color: #ff3232;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.addImage {
  max-width: 100%;
  width: auto;
}

.loadertable {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.DarkPhoneInputField .react-tel-input .form-control {
  background: #222 !important;
  border: none !important;
  color: #ffffffc2;
}

.DarkPhoneInputField .react-tel-input .flag-dropdown {
  background: #222 !important;
  border: none !important;
}

.DarkPhoneInputField .react-tel-input .selected-flag:hover,
.DarkPhoneInputField .react-tel-input .selected-flag:focus {
  background: #222 !important;
}

.DarkPhoneInputField .react-tel-input .country-list {
  background: #222 !important;
}

.DarkPhoneInputField .react-tel-input .flag-dropdown.open .selected-flag {
  background: #222 !important;
}

.DarkPhoneInputField .react-tel-input .country-list .country:hover {
  background: #000 !important;
}

.DarkPhoneInputField .react-tel-input .country-list .country.highlight {
  background: #000 !important;
}

.LightPhoneInputField .react-tel-input .form-control {
  border: 1px solid #ffffff;
  color: rgba(94, 103, 108, 0.86);
}

.LightPhoneInputField .react-tel-input .flag-dropdown {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
}

.LightPhoneInputField .react-tel-input .country-list .country.highlight {
  background: #cac6c6 !important;
}

.LightPhoneInputField .react-tel-input .country-list .country:hover {
  background: #1d1c1c !important;
}

.LightPhoneInputField .react-tel-input .country-list {
  background: #fff !important;
  color: rgba(94, 103, 108, 0.86);
}

.kep-login-facebook {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.dangerouslySetInnerHTML p span {
  font-size: 15px !important;
}

.wp-block-image {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.jodit-dialog {
  color: #000 !important;
}

.jodit-container:not(.jodit_inline) {
  background-color: #000;
}

.jodit-ui-group__font {
  display: none !important;
}

.textellipsys {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.profileName h4 {
  font-size: 18px;
}

.CoverHolder figure {
  margin: 0;
  margin-top: -80px;
  margin-left: 20px;
  width: 180px;
  min-width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 15px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .CoverHolder figure {
    margin-top: -50px;
    margin-left: 10px;
    width: 110px;
    min-width: 110px;
    height: 110px;
    margin-right: 10px;
  }
}

.CoverHolder figure img {
  width: 100%;
}

.CoverPic img {
  max-width: 100%;
}

.alignItemsEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@font-face {
  font-family: "IBM Plex Serif", serif;
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1080">Text with applied</p> */
.fontsforweb_fontid_1080 {
  font-family: "IBM Plex Serif", serif;
}

.displayStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displaySpacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displaySpacecenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displaySpacecenter a img {
  width: 100%;
}

.displayEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-next {
  /* right: 10px; */
  left: auto;
  top: 50%;
}

.slick-prev {
  /* right: 45px; */
  top: 50%;
  left: 0;
}

.slick-next {
  right: -50px;
}

.slick-prev {
  left: -52px;
}

.slick-prev:before {
  content: "‹";
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 60%;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
  background: #e73725;
  border: 3px solid #660000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
}

.slick-next:before,
.slick-prev:before {
  font-size: 25px;
  /* line-height: 1; */
  /* opacity: 0.75; */
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  outline: 0;
  background: #e73725;
  border: 3px solid #660000;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
  /* line-height: 1; */
  opacity: 1 !important;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -17px;
}

.socialEndEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialIconBoxDrawbox {
  width: 30px !important;
  height: 30px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: #009b9d !important;
  margin-top: 9px !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  border-radius: 50% !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  color: #ffffff !important;
  font-size: 16px !important;
  margin: 0px 0px 0px 7px !important;
}

.socialIconBox:hover {
  color: #ffffff !important;
  background: #009b9d !important;
}

.socialIconBox {
  width: 30px !important;
  height: 30px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: #ffffff !important;
  margin-top: 9px !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  border-radius: 50% !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  color: #009b9d !important;
  font-size: 16px !important;
  margin: 0px 0px 0px 7px !important;
}

.socialIconBox:hover {
  color: #e73725 !important;
  background: #ffffff !important;
}

.closeButton {
  top: -42px !important;
  color: #fff !important;
  right: -9px !important;
  position: absolute !important;
}

.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

.searchBtn {
  color: #fff !important;
  right: 0 !important;
  height: 33px !important;
  /* margin: 3px !important; */
  top: 5px;
  right: 6px !important;
  position: absolute !important;
  /* min-width: 100px !important; */
  background: #e73725 !important;
  border-radius: 8px !important;
}

.MuiInputBase-inputTypeSearch {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  /* margin-right: 0px !important; */
  padding: 6px 6px 7px !important;
}

.searchdiaogBox {
  position: absolute;
  top: 0;
}

.carousel-dots {
  margin: 0 auto !important;
  position: absolute;
  bottom: 14px;
}

.carousel-dots li {
  position: relative;
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  margin: 0 2.5px !important;
  position: absolute;
  font-size: 0 !important;
  padding: 0 !important;
  background: #fff !important;
  position: relative !important;
  border: none !important;
  z-index: 99;
  border-radius: 50%;
}

.carousel-dots button {
  width: 0px !important;
  height: 0px !important;
  font-size: 0px !important;
}

.carousel-dots button:before {
  font-size: 0px !important;
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 10px !important;
  height: 10px !important;
  background: #a6c8ff !important;
  opacity: 0 !important;
}

.carousel-dots.slick-active button:before {
  background: #e73725 !important;
}

.carousel-dots li.carousel-dots-active li {
  background: #e73725 !important;
}

.carousel-dots li.carousel-dots-active button {
  background: #e73725 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.carousel-dots li .carousel-dots li button:before {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: #a6c8ff !important;
  opacity: 0 !important;
}

.scaleImageClass1 {
  margin: 0;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

.scaleImageClass1 img {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
}

.slick-slider {
  margin-bottom: 0px !important;
}

.dangerouslySetInnerHTML p span {
  font-size: 14px !important;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.flexBox {
  background: #fff;
  padding: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexBox:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.flexBox::before {
  content: " ";
  position: absolute;
  /* top: 0px; */
  width: 240px;
  height: 200%;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
  background: #009b9d;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.flexBox::after {
  content: " ";
  inset: 2px;
  background: #fff;
  position: absolute;
}

@media (max-width: 600px) {
  .felxBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .felxBox p {
    margin-left: 6px;
  }
}

@media (max-width: 1280px) {
  .slick-next {
    right: -22px;
  }
  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 27px;
    margin-top: -11px;
  }
  .slick-prev {
    left: -22px;
  }
}

.mobileShow {
  display: none;
}

.mobileHide {
  display: block;
}

@media (max-width: 767px) {
  .mainContentSection .carousel-dots {
    display: none !important;
  }
  .slickbottomslider .slick-prev {
    left: 30% !important;
  }
  .mobileShow {
    display: block;
  }
  .mobileHide {
    display: none;
  }
  .block {
    margin: 9px auto;
  }
  h1.texttitle::after {
    font-size: 38px;
  }
  h1.texttitlebit::after {
    position: absolute;
    content: attr(title);
    font-size: 38px;
  }
  h1.texttitlebolck::after {
    font-size: 38px;
  }
  h1.texttitlenetwork::after {
    font-size: 38px !important;
  }
  h1.texttitlesocial::after {
    font-size: 48px;
  }
  h1.texttitleabout::after {
    font-size: 38px;
  }
  h2.texttitleabout2::after {
    font-size: 30px;
  }
  h2.texttitleplay::after {
    font-size: 30px;
    top: 5px;
  }
  h2.texttitlegame::after {
    font-size: 30px;
    top: 5px;
  }
  h2.texttitlebitword {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 38px !important;
  }
  h2.texttitlebitword::after {
    font-size: 38px;
  }
  h2.texttitlebaichain {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 38px !important;
  }
  h2.texttitlebaichain::after {
    font-size: 38px;
  }
  h2.texttitlemetabit {
    font-size: 38px !important;
  }
  h2.texttitlemetabit::after {
    font-size: 38px;
  }
  h3.texttitlenetwork1::after {
    font-size: 27px;
  }
  .description {
    font-size: 14px !important;
    max-width: 529px !important;
  }
}

.main-navigation {
  width: 380px;
  height: 380px;
  position: relative;
  border-radius: 100%;
}

.main-navigation .bgImagecir {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 220px);
}

@media (max-width: 991px) {
  .main-navigation .bgImagecir {
    width: calc(100% + 130px);
  }
}

.main-navigation .bgcircular {
  width: 100%;
}

@media (max-width: 991px) {
  .main-navigation {
    width: 216px;
    height: 216px;
  }
}

.main-navigation .iframe {
  height: 520px;
}

@media (max-width: 767px) {
  .main-navigation .iframe {
    height: 520px;
  }
}

.main-navigation ul {
  position: relative;
  list-style-type: none;
  padding: 0;
}

.main-navigation ul li {
  position: absolute;
  display: block;
  border-radius: 100%;
  text-align: center;
}

.main-navigation ul li:nth-child(1) {
  top: -52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-navigation ul li:nth-child(1) a {
  background: -webkit-gradient(linear, left top, right top, from(#00d2ff), to(#3a47d5));
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(1) {
    top: -32px;
  }
}

.main-navigation ul li:nth-child(2) {
  top: -18px;
  right: 56px;
}

.main-navigation ul li:nth-child(2) a {
  background: -webkit-gradient(linear, left top, right top, from(#25ca7a), to(#92fe9d));
  background: linear-gradient(90deg, #25ca7a 0%, #92fe9d 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(2) {
    top: -11px;
    right: 33px;
  }
}

.main-navigation ul li:nth-child(3) {
  top: 63px;
  right: -10px;
}

.main-navigation ul li:nth-child(3) a {
  background: linear-gradient(146deg, #6a3ef0 0%, #ff9800 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(3) {
    top: 35px;
    right: -6px;
  }
}

.main-navigation ul li:nth-child(4) {
  top: 168px;
  right: -20px;
}

.main-navigation ul li:nth-child(4) a {
  background: linear-gradient(179deg, #e4ac29 0%, #ad3317 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(4) {
    top: 96px;
    right: -10px;
  }
}

.main-navigation ul li:nth-child(5) {
  top: 262px;
  right: 26px;
}

.main-navigation ul li:nth-child(5) a {
  background: -webkit-gradient(linear, right top, left top, from(#d53369), to(#daae51));
  background: linear-gradient(270deg, #d53369 0%, #daae51 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(5) {
    top: 150px;
    right: 14px;
  }
}

.main-navigation ul li:nth-child(6) {
  top: 316px;
  right: 115px;
}

.main-navigation ul li:nth-child(6) a {
  background: linear-gradient(123deg, #fdbb2d 0%, #6a2072 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(6) {
    top: 183px;
    right: 68px;
  }
}

.main-navigation ul li:nth-child(7) {
  top: 313px;
  left: 108px;
}

.main-navigation ul li:nth-child(7) a {
  background: linear-gradient(198deg, #e50331 0%, #500cc1 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(7) {
    top: 179px;
    left: 56px;
  }
}

.main-navigation ul li:nth-child(8) {
  top: 256px;
  left: 23px;
}

.main-navigation ul li:nth-child(8) a {
  background: -webkit-gradient(linear, left top, right top, from(#d53369), to(#daae51));
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(8) {
    top: 145px;
    left: 8px;
  }
}

.main-navigation ul li:nth-child(9) {
  top: 160px;
  left: -21px;
}

.main-navigation ul li:nth-child(9) a {
  background: -webkit-gradient(linear, left top, right top, from(#00d2ff), to(#3a47d5));
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(9) {
    top: 92px;
    left: -16px;
  }
}

.main-navigation ul li:nth-child(10) {
  top: 57px;
  left: -5px;
}

.main-navigation ul li:nth-child(10) a {
  background: -webkit-gradient(linear, left top, right top, from(#daae51), to(#d53369));
  background: linear-gradient(90deg, #daae51 0%, #d53369 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(10) {
    top: 32px;
    left: -8px;
  }
}

.main-navigation ul li:nth-child(11) {
  top: -22px;
  left: 65px;
}

.main-navigation ul li:nth-child(11) a {
  background: -webkit-gradient(linear, left top, right top, from(#e50331), to(#500cc1));
  background: linear-gradient(90deg, #e50331 0%, #500cc1 100%);
}

@media (max-width: 991px) {
  .main-navigation ul li:nth-child(11) {
    top: -13px;
    left: 32px;
  }
}

.main-navigation ul li a {
  -webkit-transition: all 500ms ease-in-out 0;
  transition: all 500ms ease-in-out 0;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  max-height: 35px;
  font-size: 10px;
  margin: 2px;
  background: #ccc;
  display: block;
  text-decoration: none;
  color: #d4d1b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation ul li a span svg {
  font-size: 23px;
  color: #fff;
}

.main-navigation ul li a p {
  position: absolute;
  bottom: -25px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-size: 10px;
  color: #ae05a1;
  white-space: pre;
}

.main-navigation ul li a:hover {
  -webkit-transition: all 500ms ease-in-out 0;
  transition: all 500ms ease-in-out 0;
  color: #fff;
  background: #666;
}

@media (max-width: 991px) {
  .main-navigation ul li a {
    width: 20px;
    height: 20px;
    max-height: 20px;
  }
  .main-navigation ul li a span svg {
    font-size: 15px;
    color: #fff;
  }
  .main-navigation ul li a p {
    bottom: -22px;
    font-size: 8px !important;
  }
}

.main-navigation .bgx1 {
  -webkit-animation: rotating 26s linear infinite;
          animation: rotating 26s linear infinite;
}

.main-navigation .bgx2 {
  -webkit-animation: rotating2 19s linear infinite;
          animation: rotating2 19s linear infinite;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating2 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotating2 {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menuProfile ul {
  background-color: #693993;
  padding: 10px;
  width: 115px;
}

.menuProfile ul li {
  font-size: 14px;
  font-size: 700;
}

.privacyContent h5 {
  margin-top: 15px;
}

.privacyContent p {
  margin-bottom: 7px;
  font-size: 14px;
  text-align: left;
}

.privacyContent ul {
  padding-left: 18px;
}

.privacyContent ul li {
  color: #a6acd6;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: 991px) {
  .privacyContent ul li {
    font-size: 12px;
    line-height: 18px;
  }
}

.LogoImg {
  max-width: 280px;
}

@media (max-width: 991px) {
  .LogoImg {
    max-width: 210px;
    max-height: 43px;
  }
}

.menuList {
  background: #341c4a;
  border-radius: 7px;
}

.menuList li {
  font-size: 12px;
  padding: 10px 14px;
  cursor: pointer;
}

.menuList li:hover {
  background: rgba(255, 255, 255, 0.1);
}

#simple-popper {
  z-index: 9999;
}

input:-webkit-autofill {
  -webkit-background-clip: text !important;
}
/*# sourceMappingURL=main.css.map */